user  nginx;
worker_processes  auto;


events {
    worker_connections  1024;  
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    # 1. UPSTREAM: grupo de servicios internos (balanceador interno)
    upstream backend_app {
        least_conn;                 
        server app1:2000 max_fails=3 fail_timeout=30s;
        server app2:4000 max_fails=3 fail_timeout=30s;
        server app3:5000 max_fails=3 fail_timeout=30s;
        keepalive 16;               
    }

     Grafana (monitorización)
    upstream grafana {
        server grafana:3000;
    }

    server {
        listen 80 default_server;
        server_name _;            

        # ---------- HEALTH CHECK ----------
        location /health {
            access_log off;       
            return 200 "nginx-gateway-alive\n";
        }

        location /api/ {
            proxy_pass http://backend_app/;   
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            # Time-outs para evitar colgados
            proxy_connect_timeout 5s;
            proxy_send_timeout    10s;
            proxy_read_timeout    10s;
        }

        location /web/ {
            alias /usr/share/nginx/html/;  
            autoindex off;                  
            try_files $uri $uri/ =404;      
        }

        location /grafana/ {
            proxy_pass http://grafana/;     
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location / {
            return 404;
        }
    }
}
